.App {
  text-align: center;
}

.App > div {
  margin: 20px 0;
}

.App > div > label {
  display: block;
  font-size: 0.8;
  opacity: 0.8;
}

.App > div.inline > * {
  display: inline-block;
  margin: 10px;
}

.scrollable-area {
  border: 2px solid red;
}
